/** @define Blog; use-strict */

.Blog {
  padding: 1em;
  max-width: 1000px;
  margin: 0 auto;
}

.Blog-header {
  position: fixed;
  width: 14em;
}

.Blog-content {
  padding-left: 14em;
  vertical-align: top;
  display: block;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .Blog {
    font-size: 16px;
  }
}

@media (max-width: 690px) {
  .Blog,
  .Blog-header,
  .Blog-content {
    position: static;
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .Blog-header,
  .Blog-content {
  }
}
