/** @define Box; use-strict */

.Box {
  padding: 0.5em;
  margin: 0.5em;
}

.Box ~ .Box {
  margin-top: 0.5em;
}

.Box--aside {
  background-color: #efefef;
  color: #5F5E6E;
}

.Box--aside code {
  border-bottom: 1px solid #ddd;
}

.Box--transparent {
  background: transparent;
  box-shadow: none;
}

.Box--thin {
  padding: 0;
}

.Box--snap {
  margin: 0;
}
