/** @define References; use-strict */

.References {
  opacity: 0;
  transition: all cubic-bezier(.49,.51,.56,.96 ) 80ms;
  overflow: hidden;
  font-size: 0.8em;
}

.References.is-active {
  opacity: 1;
}

.References > a {
  border: 0;
  white-space: normal;
  word-break: break-word;
}

.References > a:after {
  content: '\A';
  white-space: pre;
}
